 <body style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/20a6d4b3-8297-4225-a231-aabf783f671c/d9rgo2g-3680fccb-5367-457b-a1bc-e83d9a575359.png');"> 
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

 <a href="http://127.0.0.1:3000/">Home</a> 

</body>